<table align="left" cellpadding="3" cellspacing="0" class="product" border="0">
	<!--<tr>
    	<td valign="top">
    			<div >Id</div>
    	</td>
    	<td valign="top">
    			<div>Filename</div>
    	</td>
    	<td valign="top">
    			<div>Size</div>
    	</td>
	</tr>
	-->
<? foreach(get_cats() as $item): ?>
	<tr>
		<!--<td valign="top">
			<div><?=$item['id']?></div>
		</td>-->

		<td valign="top">
		<div><a href="/"><?=$item['name']?></a></div>
		</td>
	</tr>
<? endforeach ?>

<? foreach(get_files() as $item): ?>
	<tr>
		<!--<td valign="top">
			<div><?=$item['id']?></div>
		</td>-->

		<td valign="top">
		<div><a href="/uploads/<?=get_hashname_by_filename($item['filename'])?>" target="_blank"><?=$item['filename']?></a></div>
		</td>

		<td valign="top">
		<div><?=$item['size']?> bytes</div>
		</td>
	</tr>	
<? endforeach ?>
</table>