<?
if ($login){
?>
<form action="logout.php/?action=out" method="post">
 	<input type="submit" value="Выйти" name="logout" />
</form>
<?
}
else{
?>
<form action="/" method="post">
	Логин: <input type="text" name="login" />

	Пароль: <input type="password" name="password" />
	
	<input type="submit" value="Войти" name="log_in" />

</form>

<form action="registration/" method="post">
 	<input type="submit" value="Зарегистрироваться" name="register" />
</form>
<?
}
?>