<form enctype="multipart/form-data" action="/upload.php" method="post" target="_blank">
<input type="hidden" name="MAX_FILE_SIZE" value="0"	>
<p>
Отправить файл:
</br><input name="userfile" type="file"></br>
</p>
<p>Категория:	
<select name="category">
	<? foreach(get_cats() as $item): ?>
	<option><?=$item['name']?></option>
	<? endforeach ?>
</select>
</p>
<p>Уровень доступа:
<select name="group">
<? foreach(get_group() as $item): ?>
	<option><?=$item['title']?></option>
<? endforeach ?>
</select>
</p>
<input type="submit" value="Отправить">
</form>